[submodule "deoplete.nvim"]
	path = deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule "nvim/pack/epurcell/start/deoplete.nvim"]
	path = nvim/pack/epurcell/start/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim.git
